/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/node_modules/
*.bundle
*.so
*.o
*.a
*.swp
*.lock
mkmf.log
tags
.DS_Store
.ruby-version
spec/foo.dat

# rspec failure tracking
.rspec_status
